.landingLogo {
	max-width: 20%;
	justify-content: center;
	text-align: center;
}

.title {
	display: flex;
	justify-content: space-between;
}

.head {
	text-align: center;
	margin-right: 45%;
}

.aboutBear {
	max-width: 15%;
	margin-top: 20px;
}

.landingButton {
	display: block;
	margin: auto;
	padding-top: 10px;

	background-color: #2e3138;
	border: none;
	color: #56b19c;
	padding: 22px 40px;
	text-align: center;

	font-size: larger;

	border-radius: 12px;

	width: 25%;
}

.landingButton:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.aboutText {
	margin-left: 12%;
	margin-right: 12%;
	text-align: justify;
}

#meetTeamHeader {
	margin-top: 50px;
	margin-bottom: 30px;
}

#meetTeam {
	margin: 10px 10px;
	display: flex;
	justify-content: center;
}

#leftMembers {
	margin-right: 10vw;
}

.memberContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: start;
	margin: 20px 0px;
}

.memberImage {
	width: 10vw;
	height: 10vw;
	margin-right: 40px;
	object-fit: cover;
	border-radius: 10px;
	border: 3px solid #2e3138;
}

.memberName {
	font-size: 1.3em;
	font-weight: bold;
}
