.loginLogo,
.regLogo {
	max-width: 25%;
	justify-content: center;
	text-align: center;
}

.loginText,
.regText {
	display: block;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	width: 20%;
}

.loginButton,
.regButton {
	display: block;
	margin: auto;
	margin-top: 20px;
	padding-top: 10px;
	background-color: #2e3138;
	border: none;
	color: #56b19c;
	padding: 7px 2px;
	text-align: center;
	font-size: larger;
	border-radius: 12px;
	width: 15%;
}

.loginButton:hover,
.regButton:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.logToReg,
.regToLog {
	color: #56b19c;
	background: none;
	border: none;
}

/* Graph */

.dashButton {
	display: block;
	background-color: #2e3138;
	border: none;
	color: #56b19c;
	text-align: center;
	padding: 10px 20px;
	border-radius: 12px;
	font-size: 1.2em;
	min-height: 50px;
}

.dashButton:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.dashButton:active {
	background-color: #191b1f;
}
